.header {
  background-color: #1f1f1f;
  color: #fff;
  padding: 20px 0;
}

.container {
  width: 90%;
  margin: auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
}
